<div class="sky-night">
    <div class="intro">
        <div class="stars">
            <h2>FEMock</h2>
            <!--<h2><img src="assets/img/logo.png" alt=""></h2>-->
            <div class="text">
                <p>FEMock是一个可视化接口管理</p>
                <p>前端独立于后端并行开发校验真实接口正确性</p>
            </div>
            <div class="start-using">
                <a [routerLink]="['/teams']" class="btn btn-default">开始使用</a>
            </div>
        </div>
    </div>
    <!--<div id="particles2"></div>-->
</div>
<div class="virtue">
    <dl>
        <dt>前后端分离</dt>
        <dd>让前端独立于后端进行开发，支持生成随机的文本、数字、布尔值、日期等。</dd>
    </dl>
    <dl>
        <dt>轻松编辑</dt>
        <dd>可视化编辑，符合直觉的接口。让前后端约定接口的工作变得十分简单。</dd>
    </dl>
    <dl>
        <dt>Mock服务</dt>
        <dd>自动生成模拟数据，模拟各种场景，支持复杂的生成逻辑。</dd>
    </dl>
</div>
<!--
<div class="announcement-bar">
    <strong>{{userNum}}</strong><span>人在使用FEMock，今日Mock服务被调用</span>
    <strong>{{mockNum}}</strong> <span>次</span>
    &lt;!&ndash;<span class="block"><span>FEMock群支持</span>：<b>496567983</b></span>&ndash;&gt;
</div>-->