<div class="support">
	<h2>当前网页不支持IE版本，请升级您的浏览器继续访问</h2>
	<table>
		<tr>
			<td align="center" valign="center">
				<a href="http://www.google.com/chrome/?hl=zh_CN"><img src="../../../assets/browsers/chrome.png" alt="Chrome"></a>
			</td>
			<td align="center" valign="center">
				<a href="http://www.mozilla.com/firefox/"><img src="../../../assets/browsers/firefox.png" alt="Firefox"></a>
			</td>
			<td align="center" valign="center">
				<a href="http://www.apple.com/safari/download/"><img src="../../../assets/browsers/safari.png" alt="Safari"></a>
			</td>
		</tr>
		<tr>
			<td align="center" valign="top"><a href="http://www.google.com/chrome/?hl=zh_CN">下载 Google Chrome</a></td>
			<td align="center" valign="top"><a href="http://www.mozilla.com/firefox/">下载 Firefox</a></td>
			<td align="center" valign="top"><a href="http://www.apple.com/safari/download/">下载 Safari</a></td>
		</tr>
	</table>
</div>
